MYSQL_HOST={{ rest_api_java_mysql_host }}
MYSQL_PORT={{ rest_api_java_mysql_port }}
MYSQL_DATABASE={{ rest_api_java_mysql_database }}
MYSQL_USER={{ rest_api_java_mysql_user }}
MYSQL_PASSWORD={{ rest_api_java_mysql_password }}
MYSQL_CONNECT_TIMEOUT_MS={{ rest_api_java_mysql_connect_timeout * 1000 }}
MYSQL_SOCKET_TIMEOUT_MS={{ rest_api_java_mysql_connect_timeout * 1000 }}
APP_LOG_LEVEL={{ rest_api_java_log_level }}
RESPONSE_DELAY_SECONDS={{ rest_api_java_response_delay_seconds }}
INTERNAL_SERVER_ERROR_EVERY_N_REQUESTS={{ rest_api_java_internal_server_error_every_n_requests }}
