package com.example.restbiz;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class RestBizJavaServerApplication {

    public static void main(String[] args) {
        SpringApplication.run(RestBizJavaServerApplication.class, args);
    }
}