MYSQL_HOST={{ rest_api_mysql_host }}
MYSQL_PORT={{ rest_api_mysql_port }}
MYSQL_USER={{ rest_api_mysql_user }}
MYSQL_PASSWORD={{ rest_api_mysql_password }}
MYSQL_DATABASE={{ rest_api_mysql_database }}
MYSQL_TIMEOUT={{ rest_api_mysql_connect_timeout }}