MYSQL_HOST={{ rest_api_mysql_host }}
MYSQL_PORT={{ rest_api_mysql_port }}
MYSQL_USER={{ rest_api_mysql_user }}
MYSQL_PASSWORD={{ rest_api_mysql_password }}
MYSQL_DATABASE={{ rest_api_mysql_database }}
MYSQL_TIMEOUT={{ rest_api_mysql_connect_timeout }}
RANDOM_DIGITS_API_URL={{ rest_api_random_digits_api_url }}
BOM_TREE_API_URL={{ rest_api_bom_tree_api_url }}
UPSTREAM_TIMEOUT={{ rest_api_upstream_timeout }}
BOM_TREE_RETRY_LIMIT={{ rest_api_bom_tree_retry_limit }}